/* This parent can be any width and height */
%block {
	text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
%center-child {
	&:before {
		content: "";
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
}

/* The element to be centered, can
also be of any width and height */
%centered {
	display: inline-block;
	vertical-align: middle;
}