// Mixins


// Debug traces

@mixin trace-boxes ($invert: "") {
  @if ($invert == invert) {
    * { box-shadow: 0 0 1px white inset; }
  } @else {
    * { box-shadow: 0 0 1px black inset; }
  }
}


// Positioning Mixins

@mixin cover ($offset: 0) {
  position: absolute;
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
}

@mixin top-left ($offset: 0) {
  position: absolute;
  top: $offset;
  left: $offset;
}

@mixin top-right ($offset: 0) {
  position: absolute;
  top: $offset;
  right: $offset;
}

@mixin bottom-left ($offset: 0) {
  position: absolute;
  left: $offset;
  bottom: $offset;
}

// Ghost Center Mixin

@mixin vertical-center {
  text-align: center;

  &:before {
    content: "";
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  & > div {
    display: inline-block;
    vertical-align: middle;
  }
}


// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter:    $filter-type+unquote('(#{$filter-amount})');
  -ms-filter:     $filter-type+unquote('(#{$filter-amount})');
  -o-filter:      $filter-type+unquote('(#{$filter-amount})');
  filter:         $filter-type+unquote('(#{$filter-amount})');
}


// Custom style abstractions

@mixin action-bar ($height: $pane-action-bar-height) {
  @include bottom-left;
  @include box-sizing(border-box);
  right: 0;
  border-top: 1px solid $light;
  height: $height;
  background: $bg-panes-action-bar;
  z-index: 1;
}


// Media block

@mixin media {
  @include clearfix;

  .img {
    float: left;
    margin-right: $gutter;
  }

  .bd {
    overflow: hidden;
  }
}

// form placeholder text

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


// Gradient formatting for IE9

@mixin ie-gradient ($start, $end) {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorStr='#{ie-hex-str($start)}', EndColorStr='#{ie-hex-str($end)}')");
}